# ==========================
# Visual Studio
# ==========================
.vs/
*.suo
*.user
*.vcxproj.user
*.db
*.opendb

# ==========================
# Сборка
# ==========================
**/bin/
**/obj/
*.dll
*.exe
*.pdb
*.so
*.dylib
*.app

# ==========================
# NuGet
# ==========================
packages/
*.nupkg
project.lock.json
project.assets.json

# ==========================
# Логи и временные файлы
# ==========================
*.log
*.cache
*.bak
*.tmp
*.config

# ==========================
# IDE (JetBrains / Rider)
# ==========================
.idea/
*.iml

# ==========================
# Тестовые результаты
# ==========================
TestResults/
*.trx
*.coverage
.coverage/

# ==========================
# Файлы ОС
# ==========================
.DS_Store
Thumbs.db
desktop.ini
